* {
    margin: 0px;
    box-sizing: border-box;
}
.background {
    background-image: url('../images/background.png');
    width: 1024px;
    height: 600px;
    padding-left: 20px;
    padding-top: 20px;

}

.outerbox {
    background-image: url('../images/outerbox.png');
    width: 809px;
    height: 544px;
}

.wrapper {
   display: flex;
   flex-direction: row;
    padding-left: 32px;
    padding-top: 32px;
}

.wrapper__left {
    width: 208px;
    height: 472px;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.left__top {
    margin: 15px;
    width: 144px;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    
}

.left__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid black;
   width: 200px;
   height: 400px;
}

.left__box {
    margin-top: 10px;
    width: 130px;
    height: 120px;
    background-color: gray;

}

.left__name {
    margin-top: 10px;
    width: 130px;
    height: 20px;
}

.left__phone {
    margin-top: 5px;
    width: 130px;
    height: 20px;
}

.left__email {
    margin-top: 5px;
    width: 130px;
    height: 20px;
}

.left__sns {
    margin-top: 5px;
    width: 130px;
    height: 20px;
}

.left__feeling {
    width: 130px;
    height: 20px;
}

.wrapper__right {
    width: 524px;
    height: 472px;
    border: 1px solid black;
    
}

.color {
    /* background-color: black; */
    width: 130px;
}

.color2 {
    /* background-color: black; */
}

.left__select {
    margin-bottom: 10px;
}